div(style='margin-top: 10%')
    .col-md-4.column

    .col-md-4.column

        .panel.panel-primary
            .panel-heading
                h3.panel-title Forgot Password

            // Forgot Password Form
            .panel-body
                form(ng-submit='forgotPassword.sendEmail(email)', role='form')
                    .form-group
                        label Email
                        input.form-control(type='email', ng-model='email', required='', autofocus='', placeholder='Email')
                    button.btn.btn-primary(type='submit') Send Email
                div(style='margin-top: 10px')
                    a(href='#/login') « Login
            // Ends
