div.container(align="center")

    h4 AreaId    : {{subject.areaId}}
    h4 Name      : {{subject.name}}
    h4 Area Code : {{subject.landmark}}

    div
    a(ng-click="proceed()",class="btn btn-primary btn-lg") Confirm and Proceed