.modal-header
    h3.modal-title Photo Capture
.modal-body
    div(ng-controller='camCtrl')
        ng-camera(type='photo', enabled='true', width='400', height='300', countdown='3', ng-model='media', capture='onSuccess(media)', capture-message='Captured Successfully !')
.modal-footer
    button.btn.btn-primary(ng-click='ok()') OK
