div(ng-hide="alert.type")
   alert(type="'info'")
    i.icon.icon-refresh Checking Wifi Connectivity

div(ng-show="alert.type")
   alert(type="alert.type")
    i(class="icon {{alert.icon}}") {{alert.msg}}

div
   button(ng-click="startSync()",ng-show="alert.type=='success'",class="btn btn-primary")
    i(class="icon icon-refresh icon-white")
      span Synchronize

p Download
progressbar(class="progress-striped active",value="pending.download",max="total.download",type="info")
 i {{progress.download}}


p Upload
progressbar(class="progress-striped active",value="pending.upload",max="total.upload",type="info")
   i {{progress.upload}}


p FileUpload
progressbar(class="progress-striped active",value="pending.fileupload",max="total.fileupload",type="info")
   i {{progress.fileupload}}
