.container(style="margin-top:10px")


    //Network status
    div.alert.alert-danger(ng-hide="networkStatus") Wifi Network Not Connected
    div.alert.alert-success(ng-show="networkStatus") Wifi Connected Successfully

    div
        button.btn.btn-primary(ng-click="startSync()",ng-disabled="syncRequestActive",ng-show="networkStatus || user.role.title =='manager' ") Synchronize


    div(style="margin-top:10px")
        p Download
        progressbar(value="progress.download",type="info")
            b {{progress.download}} %

        p Upload
        progressbar(value="progress.upload",type="info")
            b {{progress.upload}} %

        p FileUpload
        progressbar(value="progress.fileupload",type="info")
            b {{progress.fileupload}} %


    h4 Pending Uploads      - {{pendingUploads}}
    h4 Pending File Uploads - {{pendingFileUploads}}