.container(style="margin-top:10px")


    //Network status
    div.alert.alert-danger(ng-hide="networkStatus") Wifi Network Not Connected
    div.alert.alert-success(ng-show="networkStatus") Wifi Connected Successfully

    div
        button.btn.btn-primary(ng-click="startSync()",ng-disabled="syncRequestActive",ng-show="networkStatus || user.role.title =='manager' ") Synchronize


    div(style="margin-top:10px")
        p Download
        progressbar.progress-striped.active(value="progress.download",type="info") {{progress.download}}

        p Upload
        progressbar.progress-striped.active(value="progress.upload",type="info") {{progress.upload}}

        p FileUpload
        progressbar.progress-striped.active(value="progress.fileupload",type="info") {{progress.fileupload}}


    h4 Pending Uploads({{pendingUploads}})