div(ng-controller='DataGridCtrl')
    // Grid Heading
    h4
        span(ng-show='$state.current.addNew', ng-if='canAddMore')
            button.btn.btn-info.btn-small(ng-click='appRoot.addNew()', focus='true')
                i.icon-plus-sign.icon-white
                |  Add
        |         {{$state.current.title}}
    // Grid Report
    dhtmlx-grid
    //h4
    //    button.btn.btn-primary(focus='true', ui-sref='{{nextState}}', ng-if='!canAddMore') Next &raquo;
