div(style='margin-top: 10%')
   .col-md-4.column

   .col-md-4.column
      .panel.panel-info
         .panel-heading
            h3.panel-title
               strong ISHA

         // Login Form
         .panel-body
            form(role='form', ng-submit='login(username,password)')
               .form-group
                  //label Username
                  input.form-control(type='text', ng-model='username', required='', autofocus='', placeholder='Enter Username')
               .form-group
                  //label Password
                  input.form-control(type='password', ng-model='password', required='', placeholder='Password')
               button.btn.btn-info(type='submit') Login
            //div(style='margin-top: 10px')
            //   a(href='#/register') Sing Up |
            //
            //   a(href='#/forgotPassword')  Forgot Password
         // Ends
