.container
    h3 Today's Progress

    row.clearfix
        .col-md-4
            h4  VA
            div.myGrid(ui-grid="{data:progress.va}")


        .col-md-4
            h4 ESL
            div.myGrid(ui-grid="{data:progress.esl}")

        .col-md-4
            h4 Pending Downloads
            div.myGrid(ui-grid="{data:progress.downloads}")


    //row.clearfix
    //    .col-md-3
    //        h4
    //            a(style="padding-top:5px",href="",ng-click="distributeData()") Distribute Data
    //

