.container
    h3 Today's Progress
    .col-md-4
        h4  Enumeration
        div.myGrid(ui-grid="{data:progress.enum}")


    .col-md-4
        h4 Household Questionnaire
        div.myGrid(ui-grid="{data:progress.hhq}")

    .col-md-4
        h4 Pending Downloads
        div.myGrid(ui-grid="{data:progress.downloads}")


